.menu-item-active {
  +mobile() {
    background: #e3e3e3;
  }

  a, a:hover {
    +mobile() {
      border: 0 !important;
    }
  }
}

.hidden {
  display: none;
}

.headband {
  display: none;
}

.site-title {
  text-transform: uppercase;
}

.post-meta-item:not(:first-of-type) {
  display: none;
}

.post-body {
  img {
    //margin-bottom: 0;
  }

  br {
    +mobile() {
      //display: none;
      line-height: 0;
    }
  }
}

.center {
  text-align: center;
}


+mobile() {

  .post-body {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .posts-expand .post-meta {
    margin-bottom: 30px;
  }

  p {
    margin: 0;
  }

  .f-14 {
    font-size: 14px;
  }
}
