.menu-item-active {
  +mobile() {
    background: #e3e3e3;
  }

  a, a:hover {
    +mobile() {
      border: 0 !important;
    }
  }
}

.headband {
  display: none;
}

.site-title {
  text-transform: uppercase;
}

.post-meta-item:not(:first-of-type) {
    display: none;
}

.center {
  text-align: center;
}
